.background {
    width: 100%;
    height: 400px;
    position: absolute;
}

.category_card {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    text-align: center;
    color: var(--light-color);
    flex-direction: column;
    align-items: center;
}

.category_card img {
    width: 200px;
}

.meduimFont *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: medium;
}

.link {
    width: 100%;
    text-decoration: none;
    transition: all 0.5s ease;
}

.link:hover {
    color: darkblue;
}

.card {
    background-color: var(--light-color);
    border-width: 1px;
    margin: 50px 0;
    box-shadow: var(--shadow);
    position: relative;
    border-radius: 15px;
}

.card_img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.title {
    margin: 10px 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shadow-color);
}

.title__tags {
    width: fit-content;
    border: var(--shadow-color) solid 1px;
    padding: 10px 40px 0 100px;
    border-radius: 5px;
    background-color: white;
}

.title__tags li {
    list-style: decimal;
}

.card_links {
    padding-right: 25px;
}

.card_links *:not(h4) {
    font-size: small;
}
