.meduimFont *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: medium;
}

.link {
    width: 100%;
    text-decoration: none;
    transition: all 0.5s ease;
}

.link:hover {
    color: darkblue;
}

.card {
    background-color: var(--light-color);
    border-radius: 15px;
    border-width: 1px;
    margin: 10px;
    box-shadow: var(--shadow);
    position: relative;
}

.card_img {
    width: 100%;
}

.title {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.title * {
    margin: 10px;
}

.card_links {
    padding-right: 25px;
}

.card_links *:not(h4) {
    font-size: small;
}
