.navbar {
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-flex;
    padding: 0;
}

.navLink {
    color: var(--light-color);
    text-decoration: none;
    transition-duration: 500ms;
    padding: 10px 10px 0 20px;
    border-radius: 5px;
}

.navLink:hover {
    color: var(--light-color);
}
