.card {
    border: rgba(0, 0, 0, 0.2) 1px solid;
    border-radius: 10px;
    max-width: 75%;
    height: 100%;
}

.cardDesc {
    padding: 15px;
}

.cardDesc * {
    font-size: small !important;
}

.cardImg {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.cardImgSolid {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardContainer {
    display: flex;
    justify-content: center;
}
