.navbar {
    /* height: 125px; */
    padding: 0;
    margin: 0;
    flex-direction: column;
    background-color: var(--dark-color);
    box-shadow: var(--shadow);
}

.navLink {
    color: var(--light-color);
    text-decoration: none;
    transition-duration: 500ms;
    padding: 5px 10px 0 10px;
    border-radius: 5px;
}

.navLink:hover {
    color: var(--light-color);
}
